# All PRs are routed to @CepheusLabs for review.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-security/managing-repository-settings/about-code-owners

*       @CepheusLabs
